/* your style begins here */
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */;
}

body{
	font-size: 14px;
	line-height: 16px;
	padding: 10px;
}

button, input{
	font-size: 14px;
	line-height: 16px;
}

h1, h2, h3, h4, h5, h6, p, select, input{
	margin: 0 5px 0 0;
}

button{
	margin: 10px 0;
	display: block;
}

#ui{
	
}

	#ui .control-parent{
		width: 240px;
		height: 240px;
		display: inline-block;
		border: 1px solid black;
		padding: 10px;
		margin: 10px 10px 0 0;
		text-align: left;
	}

	#ui .control-parent div{
		margin-bottom: 10px;
	}

	#ui .control-parent h6{
		color: #AAA;
	}

	#ui .control-parent input{
		width: 100px;
	}	
	
	#ui .control-parent h6,
	#ui .control-parent input,
	#ui .control-parent select,
	#ui .control-parent span{
		display: inline-block;
		vertical-align: middle;
	}
