/* your style begins here */
ul{
	display: inline-block;
	vertical-align: top;
	list-style-type: none;
	padding-left: 0;
}

#input-list{
	text-align: right;
	padding: 4px;
}

#control-list{
	text-align: left;
	padding: 4px;
}

li{
	font-size: 14px;
	height: 24px;
}

.connector{
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 25px;
	background-color: rgb(255, 0, 0);
}

line{
	stroke: rgb(255, 0, 0);
	stroke-width: 2;
}